*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body main {
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0% 5%;
    padding: 1% 1%;
    border: 0;
    width: 90%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

table {
    display: table;
    border-collapse: collapse;
    width: 90%;
    height: 90%:;
}
tr {
    border-style: solid;
    border-width: 1px;
}
td {
    text-align: center;
}
.award {
    background-color: white;
}
.name {
    background-color: #E9967A ;
}
.name:hover {
    background-color: #c00;
}
.scholarshipsHead {
    font-weight: bold;
    background-color: #f33;
}
button {
    height: 100%;
    width: 100%;
    
}
a {
    display: block;
    height: 100%;
    width: 100%;
    color:black;
    text-decoration: none;
}
