*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body main {
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0% 5%;
    padding: 1% 1%;
    border: 0;
    width: 90%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul {
	list-style-position: inside;
}

form {
	display: flex
}

form input {
	width: 90%;
	border: 1px solid #000;
	text-align: center;
}

.centered {
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.leftCol {
    float: left;
    margin-left: 5%;
    width: 45%;
}

.rightCol {
    float: right;
    margin-right: 5%;
    width: 45%;
}

.border {
    border: 1px solid #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1%;
    overflow: hidden;
}

.buttons {
    margin: 5px 0;
}

.pictureFrame{
    display: inline-block;
}

.pictureFrame img{
    height: 20vh;
    position: relative;
}

#carouselContainer button {
    font-size: 14px;
    display: inline;
    padding: 3px 6px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 5px;
    outline: none;
}

#carouselContainer button:hover {
    border: 2px solid #888;
    background: #ffe;
    cursor: pointer;
}

#carouselWrapper {
    padding-top: 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

#carousel {
    padding-top: 0;
    text-align: left;
    width: 100%;
    height: 20vh;
    position: relative;
    visibility: hidden;
}

#carouselContainer {
    height: 20vh;
    border: 1px solid #000;
    overflow: hidden;
}