*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: auto;
    min-width:660px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: url("images/darkBlue.png") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

body main {
    word-wrap: break-word;
    box-sizing: border-box;
    margin: auto;
    border: 0;
    width: 100%;
    height: 100%;
}

body main section {
    text-align: center;
    padding-bottom: 5px;
}

body main img {
    width: 60%;
    display: block; 
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
}

body main>* {
    background-color: #93bcdc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

/*Vertical Navigation Bar styling start*/
.vnavbar {
    margin-top: 2px;
    background-color: #212e41;
    font-family: Arial;
    width: 20%;
    height: 87.2vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vnavbar>.vdropdown-category {
    padding-top: 5px;
    border-bottom: 2px solid #fff;
    background-color: #212e41;
}

.vnavbar>.vdropdown-category>h3 {
    color: #93bcdc;
}

.vnavbar>.vdropdown-category>h3+.vdropdown {
    margin-top: 5px;
}

.vnavbar>.vdropdown-category>h5 {
    margin-bottom: 5px;
    color: #93bcdc;
}

.vnavbar>.vdropdown-category>.vdropdown {
    display: block;
    margin: 0% 0% 0% 10%;
    width: 90%;
    border-top: 1px solid #fff;
    background-color: #ed1b24;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropbtn {
    text-align: center;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropbtn>img {
    width: 10%;
    height: 17.5%;
    margin: auto;
}

.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropbtn {
    background-color: #212e41;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content {
    display: none;
    overflow: hidden;
    position: absolute;
    color: white;
    min-width: 160px;
    z-index: 1;
    top: 110px;
    left: 20%;
    right: 10%;
    bottom: 5px;
}

.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropdown-content {
    display: block;
}
/*Navigation Bar styling end*/
/* Styling for text box from nav bar */
.vnavbar>.vdropdown>.vdropdown-content>* {
    padding: 3% 3%;
}

.centered {
    margin: auto;
    text-align: center;
}

.leftCol {
    float: left;
    margin-left: 5%;
    width: 42.5%;
    text-align: center;
}

.rightCol {
    float: right;
    margin-right: 5%;
    width: 42.5%;
    text-align: center;
}

.border {
    background-color: #93bcdc;
    border: 1px solid white;
    color: black;
}