*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url("../images/darkBlue.png") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

body main {
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

/*Vertical Navigation Bar styling start*/
.vnavbar {
    overflow: auto;
    margin-top: 2px;
    font-family: Arial;
    width: 22.5%;
    height: 87.2vh;
}

.vnavbar>.vdropdown-category {
    padding-top: 5px;
    border-bottom: 2px solid #fff;
}

.vnavbar>.vdropdown-category>h3 {
    color: white;
    font-size: 100%;
}

.vnavbar>.vdropdown-category>h3+.vdropdown {
    margin-top: 5px;
}

.vnavbar>.vdropdown-category>h5 {
    margin-bottom: 5px;
    color: white;
    font-size: 75%;
}

.vnavbar>.vdropdown-category>.vdropdown {
    display: block;
    margin: 0% 0% 0% 10%;
    width: 90%;
    border-top: 1px solid #fff;
    background-color: #ed1b24;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropbtn {
    text-align: center;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropbtn>img {
    width: 10%;
    height: 17.5%;
    margin: auto;
}

.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropbtn {
    background-color: #212e41;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content {
    display: none;
    overflow: auto;
    position: absolute;
    color: white;
    z-index: 1;
    margin-left: 20%;
    width: 77.5%;
    height: auto;
    top: 110px;
    bottom: 5px;
}

.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropdown-content {
    display: block;
}
/*Navigation Bar styling end*/
/* Styling for text box from nav bar */
.vnavbar>.vdropdown-category>.vdropdown:hover>.vdropdown-content>p {
    margin-bottom: 2%;
}

.centered {
    margin: auto;
    text-align: center;
}

.col-container {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  vertical-align: middle;
  padding: 0.5%;
  text-align: center;
}

.border {
    background-color: #93bcdc;
    border: 1px solid white;
    color: black;
}

.vdropdown-content>div>.border+div {
    margin-top: 5px;
}

.vdropdown-content>div>.border~div {
    margin-bottom: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vdropdown-content>div>h4 {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vdropdown-content>div>h4~.border {
    overflow: auto;
}

.semester, .semesterTitle {
    margin: auto;
    overflow: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    width: 400px;
    display: block;
    background-color: #93bcdc;
    border: 1px solid white;
    margin-bottom: 2%;
}

.table {
    margin: auto;
    overflow: auto;
    text-align: left;
    color: black;
    text-decoration: none;
    display: block;
    background-color: #93bcdc;
    border: 1px solid white;
    margin-bottom: 2%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    border: 1px solid white;
    padding: 0.5%;
}

.semester:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.cirriculum {
    padding: 3%;
}

a {
    display: block;
    color: white;
    text-decoration: underline;
}
a:hover {
    color:#ed1b24;
}

.table-row a {
    color: black;
}
.table-row a:hover {
    color:#ed1b24;
}

@media screen and (max-width: 780px){
  .col { 
      display: block;
      width: 100%;
      height: auto;
  }

  .semesterTitle {
    margin-top: 10%;
  }
}