*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    background: url("../images/darkBlue.png") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

body main {
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

header {
    min-width:660px;
}

/* Styling for text box from nav bar */
.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>* {
    padding: 3%;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>p {
    padding: 0% 0% 3% 3%;
    word-wrap: break-word;
    font-size: 90%;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>p * {
    padding: 0;
    word-wrap: break-word;
    font-size: 90%;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>h3 {
    padding: 3% 1%;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>h4 {
    padding: 0% 2%;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>ul {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none;
    overflow: auto;
    height: 30%;
    width: 50%;
    padding: 0.5% 3%;
    background-color: #ed1b24;
}
.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content>ul>li {
    padding: 0.5% 3%;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content a {
    color: #ed1b24;
}

.vnavbar>.vdropdown-category>.vdropdown>.vdropdown-content img {
    width: 50%;
}

.centered {
    margin: auto;
    text-align: center;
}